/*
====================
Fonts
*/
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Light";
  src: url("../fonts/Merriweather/Merriweather-Light.ttf");
  font-display: swap;
}

/*
====================
Variables
*/

:root {
  --font-size: 1em;
  --font-family: "Lato Light", Arial, sans-serif;

  --spacing-block: 1.5rem;
  --spacing-inline: .5rem;

  --c-primary: #324E64;
	--c-secondary: #8CABC5;
	--c-accent: #22B5E8;

	--c-support-1: #7DD1A1;
	--c-support-2: #E3F1FF;
	--c-support-3: #EC583B;

	--c-grayscale-1: #949494;
	--c-grayscale-2: #D9DEE2;
	--c-grayscale-3: #F3F5F7;

  --c-success: #3AC47D;
  --c-success-light: #C6FFBA;

  --c-warning: #FFAF00;
  --c-warning-light: #FFE8CC;

  --c-danger: #E82222;
  --c-danger-light: #F0B9B9;

  --c-background: #f3f3f3;
	--c-text: #334F63;

  --body-padding: calc(((100vw - var(--max-screen-width)) / 2) + var(--spacing));
  --max-screen-width: 100%;

  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-xxl: 90rem;
}

/*
====================
Default styling
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather Light", Arial, sans-serif;
	font-weight: 500;
  line-height: 1.2;
}

html,
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--c-text);
}

.body {}
.body__header {}
.body__content {}
.body__footer {}

@media (min-width: 36rem) {
  :root {
    --max-screen-width: var(--breakpoint-sm);
  }
}

@media (min-width: 48rem) {
  :root {
    --max-screen-width: var(--breakpoint-md);
  }
}

@media (min-width: 62rem) {
  :root {
    --max-screen-width: var(--breakpoint-lg);
  }
}

@media (min-width: 75rem) {
  :root {
    --max-screen-width: var(--breakpoint-xl);
  }
}

@media (min-width: 90rem) {
  :root {
    --max-screen-width: var(--breakpoint-xxl);
  }
}



