.body__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 1em 0em 1em; 
}

.body__footer li{
    margin-left: 1.5em;
}

.body__footer img{
    align-self: center;
    width: 20vw;
}

.footer-contact ul{
    list-style-type: none;
}