.new-request {
	max-width: 800px;
	margin-inline: auto;
}

.section__header,
.section__content {
	padding: 1.5rem .5rem;
}

.message {
	text-align: center;
}

.message .reqeust-message-icon {
	font-size: 10rem;
}