.article__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.article__content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.article__content input{
    width: 90%;
    margin-bottom: 1em;
}
