.section{
    max-width: 800px;
    margin-inline: auto;
}

.section__header{
    margin: 2em 0 2em 0;
}

.form {
	font-size: 1.125rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
}

.set {
	border: none;
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
}

.set .field {
	flex: 1;
}

.field {
	display: flex;
	flex-flow: column nowrap;
	gap: .5em;
}
.field--submit {
	display: block;
}

.field--submit input[type="submit"] {
	font-size: 1.3125rem;
	line-height: 1.25;
	padding: .8rem 1.2rem;
	color: #fff;
	background: var(--c-support-3);
	border: 1px solid var(--c-support-3);
}
.field--submit input[type="submit"]:hover {
	background: #e7391c;
	border-color: #e03317;
}

.field__input {
	font-size: 1.3125rem;
	line-height: 1.25;
	padding: .8rem 1.2rem;
	color: #495057;

	border: 1px solid #ced4da;
}

input,
input::placeholder {
	font-family: inherit;
}

.request-buttons{
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    gap: 0.5em;
    margin: 1em 0 2em 0;
}

.approve-button{
    width: 100%;
    height: 4em;
    background-color: #3AC47D;
    border: none;
    color: white;
}

.approve-button:hover{
    background-color: #2C9B62;
    cursor: pointer;
}

.disapprove-button{
    width: 100%;
    height: 4em;
    background-color: #E82222;
    border: none;
    color: white;
}

.disapprove-button:hover{
    background-color: #CC1B1B;
    cursor: pointer;
}

/* Media queries */

@media (max-width: 860px) {
    .section{
        margin: 0 1em 0 1em;
    }
    .request-buttons{
        flex-flow: wrap;
    }
}

@media (min-width: 36rem) {
	.set {
		flex-flow: row nowrap;
	}
}