<section class="section">
  <header class="section__header">
    <h1>
      <span><%- icon("home") %></span>
      <span>Demo aanvragen</span>
    </h1>
  </header>
  <div class="section__content">
    <form class="form" method="post">
      <fieldset class="set">
        <div class="field">
          <label class="field__label" for="firstName">Voornaam</label>
          <input
            class="field__input"
            type="text"
            name="firstName"
            id="firstName"
            placeholder="Uw voornaam"
            required />
        </div>
        <div class="field">
          <label class="field__label" for="lastName">Achternaam</label>
          <input
            class="field__input"
            type="text"
            name="lastName"
            id="lastName"
            placeholder="Uw achternaam"
            required />
        </div>
      </fieldset>
      <div class="field">
        <label class="field__label" for="emailAddress">Email</label>
        <input
          class="field__input"
          type="email"
          name="emailAddress"
          id="emailAddress"
          required />
      </div>
      <div class="field">
        <label class="field__label" for="companyName">Bedrijf</label>
        <input
          class="field__input"
          type="text"
          name="companyName"
          id="companyName" />
      </div>
      <div class="field">
        <label class="field__label" for="phoneNumber">Telefoonnummer</label>
        <input
          class="field__input"
          type="text"
          name="phoneNumber"
          id="phoneNumber"
          required />
      </div>
      <div class="field--submit">
        <input type="submit" value="Verzenden" />
      </div>
    </form>
  </div>
</section>
