<section class="section">
  <header class="section__header">
    <h1>
      <span><%- icon("home") %></span>
      <span>Aanvragen</span>
    </h1>
  </header>
  <div class="section__content">
    <p>Dit is een voorbeeld</p>
  </div>
</section>

<pre><%- JSON.stringify(data.requests) %></pre>
