

<div class="table">
  <h1>Aanvragen</h1>
  <div class="list">
    <div class="cell">Naam</div>
    <div class="cell">E-emailadres</div>
    <div class="cell">Bedrijf</div>
    <div class="cell">Status</div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="data" data-label="Naam"><p>Wesley Schorel</p></div>
    <div class="data" data-label="E-emailadres"><p>wesleyschorel@gmail.com</p></div>
    <div class="data" data-label="Bedrijf"><p>Wesley Schorel BV.</p></div>
    <div class="data" data-label="Status"><p><span class="in-afwachting">in afwachting</span></p></div>
    <div class="data" data-label="Autoriseren"><button>Naar aanvraag</button></div>
  </div>
  <div class="row">
    <div class="data" data-label="Naam"><p>Wesley Schorel</p></div>
    <div class="data" data-label="E-emailadres"><p>wesleyschorel@gmail.com</p></div>
    <div class="data" data-label="Bedrijf"><p>Wesley Schorel BV.</p></div>
    <div class="data" data-label="Status"><p><span class="goedgekeurd">goedgekeurd</span></p></div>
    <div class="data" data-label="Autoriseren"><button>Naar aanvraag</button></div>
  </div>
  <div class="row">
    <div class="data" data-label="Naam"><p>Wesley Schorel</p></div>
    <div class="data" data-label="E-emailadres"><p>wesleyschorel@gmail.com</p></div>
    <div class="data" data-label="Bedrijf"><p>Wesley Schorel BV.</p></div>
    <div class="data" data-label="Status"><p><span class="afgekeurd">afgekeurd</span></p></div>
    <div class="data" data-label="Autoriseren"><button>Naar aanvraag</button></div>
  </div>
  <div class="row">
    <div class="data" data-label="Naam"><p>Wesley Schorel</p></div>
    <div class="data" data-label="E-emailadres"><p>wesleyschorel@gmail.com</p></div>
    <div class="data" data-label="Bedrijf"><p>Wesley Schorel BV.</p></div>
    <div class="data" data-label="Status"><p><span class="in-afwachting">in afwachting</span></p></div>
    <div class="data" data-label="Autoriseren"><button>Naar aanvraag</button></div>
  </div>
</div>

<!-- <pre><%- JSON.stringify(data.requests) %></pre> -->
