<footer class="body__footer"> 
    <img src="/omniplan-logo.png" alt="Omniplan logo">
    <ul>
        <li><h2>Over ons</h2></li>
        <li><p>Wie zijn wij</p></li>
        <li><p>Werken bij</p></li>
        <li><p>Vacatures</p></li>
        <li><p>Contact</p></li>
    </ul> 
    <ul>
        <li><h2>Ons werk</h2></li>
        <li><p>Personal Finance Planner</p></li>
        <li><p>Personal Finance Platform</p></li>
        <li><p>Webservice Library</p></li>
    </ul> 
    <ul>
        <li><h2>Voor wie</h2></li>
        <li><p>Financieel adviseur</p></li>
        <li><p>Fintech professional</p></li>
    </ul> 
    <div class="footer-contact">
        <ul>
            <li><h2>Omniplan</h2></li>
            <li><p>Piet Heinkade 133-135</p></li>
            <li><p>1019 GM Amsterdam</p></li>
            <li><p>Tel: 020 50 50 310</p></li>
            <li><p>Email: info@omniplan.nl</p></li>
        </ul> 
    </div>

</footer>
