<footer class="body__footer"> 
    <img src="/omniplan-logo.png" alt="Omniplan logo">
    <ul>
        <h2>Over ons</h2>
        <li><a href="#">Wie zijn wij</a></li>
        <li><a href="#">Werken bij</a></li>
        <li><a href="#">Vacatures</a></li>
        <li><a href="#">Contact</a></li>
    </ul> 
    <ul>
        <h2>Ons werk</h2>
        <li><a href="#">Personal Finance Planner</a></li>
        <li><a href="#">Personal Finance Platform</a></li>
        <li><a href="#">Webservice Library</a></li>
    </ul> 
    <ul>
        <h2>Voor wie</h2>
        <li><a href="#">Financieel adviseur</a></li>
        <li><a href="#">Fintech professional</a></li>
    </ul> 
    
    <div class="footer-contact">
        <ul>
            <li><h2>Omniplan</h2></li>
            <li><p>Piet Heinkade 133-135</p></li>
            <li><p>1019 GM Amsterdam</p></li>
            <li><p>Tel: 020 50 50 310</p></li>
            <li><p>Email: info@omniplan.nl</p></li>
        </ul> 
    </div>

</footer>
