    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="#" class="header__logo"><img src="/omniplan-logo.png" alt="Omniplan logo"></a>
        <!-- Hamburger icon -->
        <input class="header__side-menu" type="checkbox" id="side-menu"/>
        <label class="header__hamburger" for="side-menu"><span class="header__hamburger-line"></span></label>
        <!-- Menu -->
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item"><a class="header__menu-link" href="#">aanvragen</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="#">details</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="#">afronden</a></li>
            </ul>
        </nav>
    </header>

