<section class="section message">
  <header class="section__header">
    <h1><%- message.title %></h1>
  </header>
  <div class="section__content">
    <span class="reqeust-message-icon"><%- icon(message.icon) %></span>
    <p><%- message.text %></p>
  </div>
</section>
